/*  
    Grayish purple: #8486a9
    Pink: #fb6087
    dark purple: #343650
    very dark purple: #1e1f29
    almost black purple: #191a24
2F2439
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    background: rgb(30, 31, 41);
    background: linear-gradient(180deg, rgba(30, 31, 41, 1) 0%, rgba(47, 36, 57, 1) 100%);
    color: #ffffff;
    position: relative;
}

.stars {
    position: absolute;
    top: 0;
    width: 100%;
}

.page-body {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
}

main {
    flex-grow: 1;
}

.hills {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

/* Main Countdown Section */

.countdown__digit {
    color: #fb6087;
}

.countdown__title {
    color: #8486a9;
}

/* Footer */

footer {
    padding: 20px 0;
}