/*  
    Grayish purple: #8486a9
    Pink: #fb6087
    dark purple: #343650
    very dark purple: #1e1f29
    almost black purple: #191a24
2F2439
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    background: rgb(30, 31, 41);
    background: linear-gradient(180deg, rgba(30, 31, 41, 1) 0%, rgba(47, 36, 57, 1) 100%);
    color: #ffffff;
    position: relative;
}

.stars {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.page-body {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hills {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.main-title {
    position: absolute;
    top: 25%;
    width: 100%;
    font-size: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* Main Countdown Section */

.countdown {
    display: flex;
    justify-content: center;
}

.countdown__digit {
    color: #fb6087;
    font-weight: 700;
    font-size: 75px;
    padding: 10px;
    position: relative;
}

/* Digit Card */

.card {
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    z-index: -1;
}

.card::after {
    background: #25222F;
    /* background: rebeccapurple; */
    position: absolute;
    content: "";
    height: 12px;
    width: 6px;
}

.card::before {
    background: #25222F;
    /* background: rebeccapurple; */
    position: absolute;
    content: "";
    height: 12px;
    width: 6px;
}

.top {
    top: 0;
    background-color: #212035;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.top::after, .bottom::after {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.top::before, .bottom::before {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.top::after {
    bottom: -6px;
    left: 0;
}

.top::before {
    bottom: -6px;
    right: 0;
}

.bottom {
    bottom: 0;
    background-color: #27273E;
    border-radius: 0 0 5px 5px;
}

.bottom::after {
    top: -6px;
    left: 0;
}

.bottom::before {
    top: -6px;
    right: 0;
}

/* End Digit Card */

.countdown__title {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
    color: #8486a9;
}

/* Footer */

footer {
    padding: 50px 0;
}

.social a {
    color: #8486a9;
    margin-right: 30px;
    font-size: 30px;
}

.social a:hover {
    color: #fb6087;
}